.map-container {
  height: 90vh;
  width: 90vh;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./images/1248px-France_location_map-Regions_and_departements-2016.svg.png);
}


.footer {
  position: absolute;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.year {
  flex-grow: 1;

}

h3 {
  text-align: center;
  color: white;
}

body {
  background-color: #4e4f50;
}

.eventbtn {
  border-radius: 50%;
  background-color: rgb(175, 60, 60);
  height: 16px;
  width: 14px;
}

#btn1 {
  position: relative;
  top: 280px;
  left: 730px
}

#btn2 {
  position: relative;
  top: 110px;
  left: 670px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  padding: 2px 16px;
  background-color: #4e4f50;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #4e4f50;
  color: white;
}

#battleofmarneimg {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .map-container {
    height: 30vh;
    margin: 0;
    margin: auto;
    width: 30vh;

  }
}